@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background-color: hsl(13, 31%, 94%);
  padding: 2rem;
}

header > h1#title {
  color: hsl(14, 65%, 9%);
  margin-left: 4rem;
  margin-bottom: 0.2rem;
  font-size: 2rem;
}

#content {
  display: flex;
}

div#product-container {
  display: flex;
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

div.product {
  width: 100%;
  max-width: 225px;
  height: 320px;
  text-align: center;
  background-color: hsl(20, 50%, 98%);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

div.product:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

div > img.product-image {
  width: 90%;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

div.product:hover img.product-image {
  transform: scale(1.05);
}

div.product-infos {
  margin-top: 15px;
  text-align: left;
  margin-left: 10px;
  padding: 10px 0;
}

p.product-category {
  font-size: 12px;
  color: hsl(14, 25%, 72%);
  margin-bottom: 5px;
}

h2.product-name {
  font-size: 16px;
  margin-bottom: 8px;
  color: hsl(14, 65%, 9%);
}

p.product-price {
  font-size: 14px;
  font-weight: 700;
  color: hsl(14, 86%, 42%);
  margin-bottom: 20px;
}

button.product-btn {
  position: absolute;
  width: 9.5rem;
  top: 58%;
  left: 15%;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  background-color: hsl(20, 50%, 98%);
  color: hsl(12, 20%, 44%);
  border: 1px solid hsl(12, 20%, 44%);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button.product-btn:hover {
  background-color: hsl(14, 86%, 42%);
  color: white;
}

section#product-cart {
  width: 25rem;
  max-height: 30rem;
  margin-right: 50px;
  padding: 15px 15px;
  color: hsl(14, 86%, 42%);
  background-color: hsl(20, 50%, 98%);
  border-radius: 8px;
}

.product-empty-cart {
  margin-top: 2rem;
  margin-left: 4rem;
}

.product-cart-message {
  padding-top: 1rem;
  font-size: 14px;
  font-weight: 600;
  margin-left: 1rem;
  color: hsl(12, 20%, 44%);
}

.attribution {
  font-size: 10px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
