@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

// Variáveis globais
$color-primary: hsl(14, 86%, 42%);
$color-secondary: hsl(14, 65%, 9%);
$color-background: hsl(13, 31%, 94%);
$color-light: hsl(20, 50%, 98%);
$color-mutedlight: hsl(7, 20%, 60%);
$color-highlight: hsl(14, 25%, 72%);
$color-muted: hsl(12, 20%, 44%);
$font-family: "Red Hat Text", sans-serif;
$font-size-base: 14px;
$border-radius: 8px;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;

// Reset e estilos gerais
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $color-background;
  padding: 2rem;
}

#container {
  display: flex;
}

#title {
  color: $color-secondary;
  margin-left: 2rem;
  margin-bottom: 0.2rem;
  font-size: 2rem;
}

#product-list {
  list-style: none;
  display: flex;
  width: 90%;
  max-width: 1250px;
  margin: 0 1rem;
  padding: 20px;
  position: relative;
  flex-wrap: wrap;
  gap: 2rem;
}

.product {
  width: 100%;
  max-width: 225px;
  height: 320px;
  text-align: center;
  background-color: $color-light;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.product:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.product-image {
  width: 90%;
  height: auto;
  margin-top: 10px;
  border-radius: $border-radius;
}

.product-infos {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  text-align: left;
  margin-left: 10px;
  padding: 10px 0;
}

.product-category {
  font-size: 12px;
  color: $color-mutedlight;
  margin-bottom: 5px;
}

.product-name {
  font-size: 16px;
  font-weight: 650;
  margin-bottom: 8px;
  color: $color-secondary;
}

.product-price {
  font-size: $font-size-base;
  font-weight: 700;
  color: $color-primary;
  margin-bottom: 20px;
}

// Estilos dos botões
button.product-btn,
.qtd-food {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 9.5rem;
  top: 50%;
  left: 50%;
  padding: 10px 20px;
  gap: 0.5rem;
  font-size: $font-size-base;
  font-weight: 600;
  background-color: $color-light;
  color: $color-muted;
  border: 1px solid $color-muted;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: translate(-50%, 50%);
}

.qtd-food {
  background-color: $color-primary;
  color: $color-light;
}

button.product-btn:hover {
  background-color: $color-background;
  color: $color-primary;
  border-color: $color-primary;
}

.product-cart {
  width: 25rem;
  height: 30rem;
  margin-top: 2rem;
  margin-right: 6rem;
  padding: 1.5rem;
  background-color: $color-light;
  color: $color-primary;
  border-radius: $border-radius;
}

.product-empty-cart {
  display: block;
  margin: 2rem auto;
}

.product-cart-message {
  padding-top: 1rem;
  font-size: $font-size-base;
  font-weight: 600;
  text-align: center;
  color: $color-muted;
}

.icons-qtd {
  width: 16px;
  height: 16px;
  padding: 2px;
  margin: 0 35px;
  border: 1px solid $color-light;
  border-radius: 50%;
}

.icons-qtd:hover {
  background-color: $color-secondary;
}

.title-cart {
  margin-bottom: 1rem;
}

#product-list-cart {
  list-style: none;
  margin: 1rem 0.5rem;
}

.list-cart {
  list-style: none;
}

.product-cart-name {
  font-size: 14px;
  font-weight: 650;
  color: $color-secondary;
}

.product-cart-infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.1rem;
}

.product-cart-quantity {
  font-size: 14px;
  font-weight: 700;
  color: $color-primary;
  padding-right: 1rem;
}

.product-cart-price {
  width: 4rem;
  font-size: 12.5px;
  font-weight: 450;
  color: $color-mutedlight;
}

.product-cart-total {
  font-size: 14px;
  font-weight: 450;
  color: $color-muted;
  padding-right: 6rem;
}

.product-cart-icon {
  justify-items: flex-end;
  border: 1px solid $color-highlight;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.2rem;
}

.order-total-cart {
  display: flex;
  gap: 8rem;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: $color-primary;
  margin: 1rem 0;
}

.order-total-msg {
  font-size: 14px;
  color: $color-muted;
}

.order-total-value {
  font-size: 20px;
  font-weight: bolder;
  color: $color-secondary;
}

.carbon-neutral-cart {
  display: flex;
  margin-left: 12px;
  width: 14rem;
  justify-content: center;
  align-items: center;
  background-color: $color-background;
  border-radius: 5%;
}

.carbon-neutral-msg {
  margin: 0 5px;
  padding: 10px 0;
  font-size: 12px;
  color: $color-secondary;
}

.btn-confirm-order-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 20px;
  padding: 0.8rem 5rem;
  font-size: $font-size-base;
  font-weight: 600;
  background-color: $color-primary;
  color: $color-light;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  
}


.attribution {
  font-size: 10px;
  text-align: center;
}

.attribution a {
  color: $color-primary;
}

.attribution a:hover {
  color: $color-highlight;
}

.bordered {
  border: 2px solid $color-primary;
  border-radius: $border-radius;
}
