@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

// Variáveis globais
$color-primary: hsl(14, 86%, 42%);
$color-secondary: hsl(14, 65%, 9%);
$color-background: hsl(13, 31%, 94%);
$color-light: hsl(20, 50%, 98%);
$color-mutedlight: hsl(7, 20%, 60%);
$color-highlight: hsl(14, 25%, 72%);
$color-muted: hsl(12, 20%, 44%);
$font-family: "Red Hat Text", sans-serif;
$font-size-base: 14px;
$border-radius: 8px;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;

// Reset e estilos gerais
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $color-background;
}

#container {
  display: flex;
}

#title {
  color: $color-secondary;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 0.2rem;
  font-size: 2rem;
}

#product-list {
  list-style: none;
  display: flex;
  width: 90%;
  max-width: 1250px;
  margin: 0 1rem;
  padding: 20px;
  position: relative;
  flex-wrap: wrap;
  gap: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 2rem;
  background-color: #f9f0eb;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: $border-radius;
}

.nav-logo {
  width: 10rem;
  height: 8rem;
}

.nav-links {
  display: flex;
  justify-content: space-around; 
  gap: 8rem; 
  list-style: none;
  margin-right: 20rem;
}

li a{
  font-weight: 600;
  text-decoration: none;
  color: $color-secondary;
  cursor: pointer;
}

 li a:hover {
  color: $color-highlight;
  transition: color 0.3s ease;
}

.product {
  width: 100%;
  max-width: 225px;
  height: 320px;
  text-align: center;
  background-color: $color-light;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.product:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.product-image {
  width: 90%;
  height: auto;
  margin-top: 10px;
  border-radius: $border-radius;
}

.product-infos {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  text-align: left;
  margin-left: 10px;
  padding: 10px 0;
}

.product-category {
  font-size: 12px;
  color: $color-mutedlight;
  margin-bottom: 5px;
}

.product-name {
  font-size: 16px;
  font-weight: 650;
  margin-bottom: 8px;
  color: $color-secondary;
}

.product-price {
  font-size: $font-size-base;
  font-weight: 700;
  color: $color-primary;
  margin-bottom: 20px;
}

// Estilos dos botões
button.product-btn,
.qtd-food {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 9.5rem;
  top: 50%;
  left: 50%;
  padding: 10px 20px;
  gap: 0.5rem;
  font-size: $font-size-base;
  font-weight: 600;
  background-color: $color-light;
  color: $color-muted;
  border: 1px solid $color-muted;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: translate(-50%, 50%);
}

.qtd-food {
  background-color: $color-primary;
  color: $color-light;
}

button.product-btn:hover {
  background-color: $color-background;
  color: $color-primary;
  border-color: $color-primary;
}

.product-cart {
  width: 25rem;
  height: 30rem;
  object-fit: contain; 
  max-height: 100%;
  overflow: auto;
  margin-top: 4rem;
  margin-right: 6rem;
  padding: 1.5rem;
  background-color: $color-light;
  color: $color-primary;
  border-radius: $border-radius;
}

.product-empty-cart {
  display: block;
  margin: 2rem auto;
}

.product-cart-message {
  padding-top: 1rem;
  font-size: $font-size-base;
  font-weight: 600;
  text-align: center;
  color: $color-muted;
}

.icons-qtd {
  width: 16px;
  height: 16px;
  padding: 2px;
  margin: 0 35px;
  border: 1px solid $color-light;
  border-radius: 50%;
}

.icons-qtd:hover path {
  fill: $color-primary; 
}

.icons-qtd:hover {
  background-color: $color-light;
}

.title-cart {
  margin-bottom: 1rem;
}


.product-cart-details {
  display: flex;
  flex-direction: column; 
  margin-right: auto; 
}

.product-list-cart {
  list-style: none;
  margin: 1rem 0.5rem;
}

.product-list-cart-order {
  display: flex;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.product-cart-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.list-cart {
  list-style: none;
}

.product-cart-name {
  font-size: 14px;
  font-weight: 650;
  color: $color-secondary;
}

.product-cart-infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.1rem;
}

.product-cart-infos-order {
  display: flex;
  gap: 1rem;
}

.product-cart-quantity {
  font-size: 14px;
  font-weight: 700;
  color: $color-primary;
  padding-right: 1rem;
}

.product-cart-quantity-order {
  font-size: 14px;
  font-weight: 700;
  color: $color-primary;
  padding-right: 1rem;
}

.product-cart-price {
  width: 4rem;
  font-size: 12.5px;
  font-weight: 450;
  color: $color-mutedlight;
}

.product-cart-price-order {
  width: 4rem;
  font-size: 12.5px;
  font-weight: 450;
  color: $color-mutedlight;
}

.product-cart-total {
  font-size: 14px;
  font-weight: 450;
  color: $color-muted;
  padding-right: 6rem;
}

.product-cart-total-order {
  display: flex;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
}

.product-cart-icon {
  justify-items: flex-end;
  border: 1px solid $color-highlight;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.2rem;
}

.product-cart-icon:hover path {
  fill: $color-secondary;
  transition: fill 0.5s ease;
}

.order-total-cart {
  display: flex;
  width: 100%;
  gap: 8.5rem;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  color: $color-primary;
  margin: 1rem 0;
}

.order-total-msg {
  font-size: 0.8rem;
  color: $color-muted;
}

.order-total-value {
  font-size: 1rem;
  font-weight: bolder;
  color: $color-secondary;
}


.carbon-neutral-cart {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: $color-background;
  border-radius: 5%;
}

.carbon-neutral-msg {
  margin: 0 5px;
  padding: 10px 0;
  font-size: 12px;
  color: $color-secondary;
}

.btn-confirm-order-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-top: 20px;
  padding: 0.8rem 5rem;
  font-size: $font-size-base;
  font-weight: 600;
  background-color: $color-primary;
  color: $color-light;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#attribution {
  font-size: 10px;
  text-align: center;
}

#attribution a {
  color: $color-primary;
}

#attribution a:hover {
  color: $color-highlight;
}

.bordered {
  border: 2px solid $color-primary;
  border-radius: $border-radius;
}

.hidden {
  display: none;
}

.confirmation-order {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 25rem;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 2%;
  z-index: 1000;
  max-height: 80%;
  max-width: 600px;
  overflow: hidden;
}

.confirmation-order-box {
  background-color: $color-light;
  overflow-y: auto; /* Ativa o scroll vertical */
  max-height: 60vh; /* Define um limite de altura para o conteúdo rolável */
  margin: 2rem 0;
  padding: 1.2rem;
  border-radius: 2%;
}


.overlay {
  filter: blur(15% transparent);
}

.confirmation-order h2 {
  margin-top: 0;
}

.confirmation-order p {
  font-size: 12px;
  color: $color-mutedlight;
  margin-bottom: 5px;
}

.confirmation-order-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.confirmation-order-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.confirmation-order-total {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.btn-close-confirmation-order {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 20px;
  padding: 0.8rem 5rem;
  font-size: $font-size-base;
  font-weight: 600;
  background-color: $color-primary;
  color: $color-light;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

hr {
  border: none; 
  height: 1px; 
  background-color: #ddd; 
  margin: 8px 0; 
  opacity: 0.7; 
}

/* Estiliza a barra de rolagem geral */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
  height: 12px; /* Altura da barra horizontal */
}

/* Estiliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #f4f4f4; /* Cor do fundo da barra */
  border-radius: 8px; /* Bordas arredondadas */
}

/* Estiliza a alça (thumb) da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Cor da alça */
  border-radius: 8px; /* Bordas arredondadas */
  border: 3px solid #f4f4f4; /* Espaço interno entre a alça e o track */
}

/* Estiliza a alça da barra de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor ao passar o mouse */
}

// Responsividade geral para telas pequenas
@media (max-width: 768px) {
  body {
    padding: 1rem;
  }

  #container {
    flex-direction: column;
    align-items: center;
  }

  #title {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
  }

  #product-list {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .product {
    max-width: 90%;
    height: auto;
  }

  .product-image {
    width: 100%;
    height: auto;
  }

  .product-cart {
    width: 100%;
    margin: 2rem 0;
    padding: 1rem;
  }

  .order-total-cart {
    flex-direction: column;
    gap: 0.5rem;
  }

  .btn-confirm-order-cart {
    width: 100%;
    padding: 0.8rem;
  }

  .carbon-neutral-cart {
   
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
}

// Ajustes para telas muito pequenas (celulares)
@media (max-width: 480px) {
  #title {
    font-size: 1.2rem;
  }

  .product-cart-message {
    font-size: 12px;
  }

  .product-cart-name {
    font-size: 12px;
  }

  .product-cart-quantity {
    font-size: 12px;
  }

  .order-total-cart {
    font-size: 14px;
  }

  .btn-confirm-order-cart {
    font-size: 14px;
  }

  .carbon-neutral-msg {
    font-size: 10px;
  }
}
